*{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.logo{
    position: absolute;
    top:05%;
    right: 40%;

}
.quadrado1 {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 30%;
  right: 80%;
}
.quadrado2{
  width: 200px;
  height: 200px;
  background-color: rgb(7, 253, 27);
  position: absolute;
  top: 30%;
  right: 65%;

}
.quadrado3{
  width: 200px;
  height: 200px;
  background-color: rgb(88, 0, 252);
  position: absolute;
  top: 30%;
  right: 50%;

}
.quadrado4{
  width: 200px;
  height: 200px;
  background-color: rgb(253, 7, 151);
  position: absolute;
  top: 30%;
  right: 35%;

}
.quadrado5{
  width: 200px;
  height: 200px;
  background-color: rgb(216, 253, 7);
  position: absolute;
  top: 65%;
  right: 80%;

}
.quadrado6{
  width: 200px;
  height: 200px;
  background-color: rgb(7, 204, 253);
  position: absolute;
  top: 65%;
  right: 35%;

}
.quadrado7{
  width: 200px;
  height: 200px;
  background-color: rgb(253, 105, 7);
  position: absolute;
  top: 65%;
  right: 50%;

}
.quadrado8{
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 65%;
  right: 65%;

}
.heroi{
  width: 300px;
  height: 400px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 40%;
  right: 10%;
  color: rgb(255, 255, 255);
  display: none;
}
