body{
    background-image:url("img-herois/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFEF02;
    font-family: 'Belanosima', sans-serif;
font-family: 'Chakra Petch', sans-serif;
}
.logo{
    position: absolute;
    top:05%;
    right: 40%;

}
.quadrado1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 80%;
}
.quadrado2{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 65%;

}
.quadrado3{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 50%;

}
.quadrado4{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 35%;

}
.quadrado5{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 70%;
  right: 80%;

}
.quadrado6{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 70%;
  right: 35%;

}
.quadrado7{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 70%;
  right: 50%;

}
.quadrado8{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 70%;
  right: 65%;

}
.heroi{
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 40%;
  right: 10%;
  color: #FFEF02;
  display: none;
}
.assinatura{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 1000px;
  left: 900px;
}